In [1]:
!wget -O data.csv https://raw.githubusercontent.com/alifrzky123/belajar-orbit/fa9abd086f47d3111cad6c0be9ee11964f6008a6/belajar_dataset/data.csv

--2021-11-11 16:46:19--  https://raw.githubusercontent.com/alifrzky123/belajar-orbit/fa9abd086f47d3111cad6c0be9ee11964f6008a6/belajar_dataset/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45038728 (43M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]  42.95M   173MB/s    in 0.2s

2021-11-11 16:46:20 (173 MB/s) - ‘data.csv’ saved [45038728/45038728]

# Implementing market basket analysis

In [2]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
#Reading Data From github
df = pd.read_csv('data.csv',encoding= 'unicode_escape')
df.head(10)

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom
5    536365     22752  ...    17850.0  United Kingdom
6    536365     21730  ...    17850.0  United Kingdom
7    536366     22633  ...    17850.0  United Kingdom
8    536366     22632  ...    17850.0  United Kingdom
9    536367     84879  ...    13047.0  United Kingdom

[10 rows x 8 columns]

In [4]:
df['InvoiceNo'].value_counts()

573585    1114
581219     749
581492     731
580729     721
558475     705
          ...
580383       1
552789       1
548069       1
552006       1
556456       1
Name: InvoiceNo, Length: 25900, dtype: int64

In [5]:
df['Description'].value_counts()

WHITE HANGING HEART T-LIGHT HOLDER    2369
REGENCY CAKESTAND 3 TIER              2200
JUMBO BAG RED RETROSPOT               2159
PARTY BUNTING                         1727
LUNCH BAG RED RETROSPOT               1638
                                      ...
????damages????                          1
GLASS BELL JAR SMALL                     1
mystery! Only ever imported 1800         1
???                                      1
ASSORTED TUTTI FRUTTI ROUND BOX          1
Name: Description, Length: 4223, dtype: int64

# Data Preparation

In [6]:
df['Description'] = df['Description'].str.strip() #menghilangkan spasi
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True) #menghilangkan adanya data yang duplikat
df['InvoiceNo'] = df['InvoiceNo'].astype('str') #mengkonversi angka invoice ke string
df = df[~df['InvoiceNo'].str.contains('C')] #menghilangkan credit pada transaksi
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [7]:
df['Country'].value_counts()
#df.shape

United Kingdom          487622
Germany                   9042
France                    8408
EIRE                      7894
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1967
Portugal                  1501
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Unspecified                446
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     295
Hong Kong                  284
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     18
Saudi Arabia                 9
Name: Country, dtype: int64

In [8]:
#memisahkan/memfokuskan ke negara Germany
mybasket = (df[df['Country'] =="Germany"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

In [9]:
#melihat transaksi yang ada pada basket(keranjang)
mybasket.head()

Description  10 COLOUR SPACEBOY PEN  ...  ZINC WILLIE WINKIE  CANDLE STICK
InvoiceNo                            ...
536527                          0.0  ...                               0.0
536840                          0.0  ...                               0.0
536861                          0.0  ...                               0.0
536967                          0.0  ...                               0.0
536983                          0.0  ...                               0.0

[5 rows x 1695 columns]

In [10]:
#mengkonversi seluruh nilai positif menjadi 1 dan sisanya menjadi 0
def my_encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

my_basket_sets = mybasket.applymap(my_encode_units)
my_basket_sets.drop('POSTAGE', inplace=True, axis=1)

# Training Model

In [11]:
#men-generate frekuensi data menggunakan algoritma apriori
my_frequent_itemsets = apriori(my_basket_sets, min_support=0.07, use_colnames=True)

In [12]:
my_frequent_itemsets.head(10)

    support                           itemsets
0  0.102845           (6 RIBBONS RUSTIC CHARM)
1  0.070022        (ALARM CLOCK BAKELIKE PINK)
2  0.072210                (GUMBALL COAT RACK)
3  0.091904           (JAM MAKING SET PRINTED)
4  0.078775          (JUMBO BAG RED RETROSPOT)
5  0.100656       (JUMBO BAG WOODLAND ANIMALS)
6  0.078775               (LUNCH BAG WOODLAND)
7  0.085339  (PACK OF 72 RETROSPOT CAKE CASES)
8  0.115974    (PLASTERS IN TIN CIRCUS PARADE)
9  0.107221         (PLASTERS IN TIN SPACEBOY)

In [13]:
#men-generate aturan
my_rules = association_rules(my_frequent_itemsets, metric="lift", min_threshold=1)

In [14]:
#melihat top 100 data teratas
my_rules.head(100)

                            antecedents  ... conviction
0    (PLASTERS IN TIN WOODLAND ANIMALS)  ...   1.640006
1  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.237951
2  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.814509
3   (ROUND SNACK BOXES SET OF 4 FRUITS)  ...   4.529540
4                  (SPACEBOY LUNCH BOX)  ...   2.365427
5  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.256018

[6 rows x 9 columns]

# Making reecommendations

In [15]:
my_basket_sets['ROUND SNACK BOXES SET OF4 WOODLAND'].sum()

112

In [16]:
my_basket_sets['PLASTERS IN TIN WOODLAND ANIMALS'].sum()

63

In [17]:
#Filtering rules based on condition
my_rules[ (my_rules['lift'] >= 1) & 
       (my_rules['confidence'] >= 0.3) ]

                            antecedents  ... conviction
0    (PLASTERS IN TIN WOODLAND ANIMALS)  ...   1.640006
1  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.237951
2  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.814509
3   (ROUND SNACK BOXES SET OF 4 FRUITS)  ...   4.529540
4                  (SPACEBOY LUNCH BOX)  ...   2.365427

[5 rows x 9 columns]